html{
  background-image: url(image/ab18f0168d0a4b4aa5a3380a03b882f2.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
div h1{
  color: white;
  display: flex;
 justify-content: center;
 align-items: center;
}
header{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
  vertical-align: top;
  margin-bottom: 20px;
}
input::placeholder{
  font-size: 16px;
  font-family: sans-serif;
  padding-left: 14px;
  
}
input:hover{
  background-color: white;
}
input text:hover{
  background-color: white;
}
input{
  width: 100%;
  width: 290px;
  height: 38px;
  border-radius: 20px 0px 20px 0px;
  border-style: none;
  background-color: rgb(216, 216, 196);
  transition: 0.3s ease-out;
}
header input:focus{

}
.search-icon{
  width: 100%;
  width: 27px;
  height: 18px;
  padding-top: 2px;
  background-color:beige;
}
.button:hover{
  background-color: white;
}

button{
  border-radius: 20px;
  border-style: none;
  margin-left: 8px;
  height:40px;
  width: 40px;
  background-color:beige;
}
main{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}